<!DOCTYPE html>
<html>
  <head>
    <title>About the {{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      body {
        margin: 2em;
      }

      .tooltip-inner {
        max-width: 280px;
      }

      .check {
        text-align: center;
      }

      .fixedHeader {
        position: sticky;
        top: 0;
        background-color: white;
      }

      th {
        max-width: 4em;
        height: 5em;
      }

      th a {
        display: block;
        transform: rotate(-45deg);
        margin: 0.2em;
      }
    </style>
  </head>
    <body>
      {{content}}
      <hr/>
    </body>
</html>