<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>OBO Foundry dashboard analysis</title>
</head>
<body>
    <h1>OBO Foundry dashboard analysis</h1>
    <a href="index.html">Back to dashboard main page</a>
</body>
