<head>
  <title>OBO Dashboard ALPHA {{ date }}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <style>
body {
  margin: 2em;
}

.tooltip-inner {
  max-width: 280px;
}

.check {
  text-align: center;
}

th {
  max-width: 4em;
  height: 5em;
  position: sticky;
  top: 0;
  background-color: white;
}

th a {
  display: block;
  transform: rotate(-66deg);
  margin: 0.2em;
}
  </style>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
</head>
<body>
  <h1>OBO Dashboard ALPHA {{ date }}</h1>
  <h4>Under active development. <a href="about.html">Learn More!</a></h4>
  <p>Created with <a href="http://robot.obolibrary.org/">{{ robot }}</a> and <a href="{{ obomd }}">OBO Metadata Schema</a></p>
  <table class="table table-borderless">
    <thead>
      <tr>
        <th>Ontology<br/>(click for details)</th>
        <th>
          <a href="http://obofoundry.org/principles/fp-001-open.html">Open</a>
        </th>
        <th>
          <a href="http://obofoundry.org/principles/fp-002-format.html">Format</a>
        </th>
        <th>
          <a href="http://obofoundry.org/principles/fp-003-uris.html">URIs</a>
        </th>
        <th>
          <a href="http://obofoundry.org/principles/fp-004-versioning.html">Versioning</a>
        </th>
        <th>
          <a href="http://obofoundry.org/principles/fp-005-delineated-content.html">Scope</a>
        </th>
        <th>
          <a href="http://obofoundry.org/principles/fp-006-textual-definitions.html">Definitions</a>
        </th>
        <th>
          <a href="http://obofoundry.org/principles/fp-007-relations.html">Relations</a>
        </th>
        <th>
          <a href="http://obofoundry.org/principles/fp-008-documented.html">Documented</a>
        </th>
        <th>
          <a href="http://obofoundry.org/principles/fp-009-users.html">Users</a>
        </th>
        <th>
          <a href="http://obofoundry.org/principles/fp-011-locus-of-authority.html">Authority</a>
        </th>
        <th>
          <a href="http://obofoundry.org/principles/fp-012-naming-conventions.html">Naming</a>
        </th>
        <th>
          <a href="http://obofoundry.org/principles/fp-016-maintenance.html">Maintained</a>
        </th>
        <th>
          <a href="http://robot.obolibrary.org/report">ROBOT Report</a>
        </th>
        <th>
          Summary
        </th>
      </tr>
    </thead>
    <tbody class="scrollContent">
    {% for o in ontologies %}
        <tr>
            <td><b><a href="{{ o.namespace }}/dashboard.html">{{ o.namespace }}</a></b></td>
            {% set res = o.results %}
            {% for c in checkorder %}
                {% set r = res[c] %}
                {% if 'comment' in r %}
                    {% if r.status == 'ERROR' %}
                        {% set tdclass = 'danger' %}
                        {% set icon = 'x' %}
                    {% elif r.status == 'WARN' %}
                        {% set tdclass = 'warning' %}
                        {% set icon = 'warning' %}
                    {% elif r.status == 'INFO' %}
                        {% set tdclass = 'info' %}
                        {% set icon = 'info' %}
                    {% else %}
                        {% set tdclass = 'success' %}
                        {% set icon = 'check' %}
                    {% endif %}
                    <td class="check table-{{ tdclass }}"><img src="assets/{{ icon }}.svg" height="15px" data-toggle="tooltip" data-html="true" data-placement="right" title="{{ r.comment }}"></td>
                {% else %}
                    {% if r.status == 'ERROR' %}
                        {% set tdclass = 'danger' %}
                        {% set icon = 'x' %}
                    {% elif r.status == 'WARN' %}
                        {% set tdclass = 'warning' %}
                        {% set icon = 'warning' %}
                    {% elif r.status == 'INFO' %}
                        {% set tdclass = 'info' %}
                        {% set icon = 'info' %}
                    {% else %}
                        {% set tdclass = 'success' %}
                        {% set icon = 'check' %}
                    {% endif %}
                    <td class="check table-{{ tdclass }}"><img src="assets/{{ icon }}.svg" height="15px"></td>
                {% endif %}
            {% endfor %}
            {% set r = o.summary %}
            {% if 'comment' in r %}
                {% if r.status == 'ERROR' %}
                    {% set tdclass = 'danger' %}
                    {% set icon = 'x' %}
                {% elif r.status == 'WARN' %}
                    {% set tdclass = 'warning' %}
                    {% set icon = 'warning' %}
                {% elif r.status == 'INFO' %}
                    {% set tdclass = 'info' %}
                    {% set icon = 'info' %}
                {% else %}
                    {% set tdclass = 'success' %}
                    {% set icon = 'check' %}
                {% endif %}
                <td class="check table-{{ tdclass }}"><img src="assets/{{ icon }}.svg" height="15px" data-toggle="tooltip" data-html="true" data-placement="right" title="{{ r.comment }}"></td>
            {% else %}
                {% if r.status == 'ERROR' %}
                    {% set tdclass = 'danger' %}
                    {% set icon = 'x' %}
                {% elif r.status == 'WARN' %}
                    {% set tdclass = 'warning' %}
                    {% set icon = 'warning' %}
                {% elif r.status == 'INFO' %}
                    {% set tdclass = 'info' %}
                    {% set icon = 'info' %}
                {% else %}
                    {% set tdclass = 'success' %}
                    {% set icon = 'check' %}
                {% endif %}
                <td class="check table-{{ tdclass }}"><img src="assets/{{ icon }}.svg" height="15px"></td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
  </table>
  </div>
  </div>
</body>
