<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>{{ o.namespace }} Dashboard Report</title>
</head>
<body>
    <div class="container">
        <div class="row" style="padding-top:30px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1>Dashboard Report - <a href="http://obofoundry.org/ontology/{{ o.namespace }}.html">{{ o.namespace }}</a></h1>
                <p class="lead"><b>Version</b>: {{ o.version }}</p>
                <p class="lead" style="margin-top:-15px;"><b>Date run</b>: {{ o.date }}</p>
                <p class="lead" style="margin-top:-15px;"><a href="dashboard.yml">View dashboard results as YAML</a></p>
                <p class="lead" style="margin-top:-15px;"><a href="../index.html">Go back to Overview</a></p>
                <h3>Error Breakdown</h3>
                {% set summary = o.summary %}
                {% if 'comment' in summary %}
                    {% if summary.status == 'ERROR' %}
                        {% set divclass = 'danger' %}
                    {% elif summary.status == 'WARN' %}
                        {% set divclass = 'warning' %}
                    {% else %}
                        {% set divclass = 'info' %}
                    {% endif %}
                    <div class="alert alert-{{ divclass }}">
                        <center><h3>{{ summary.status }} - {{ summary.comment }}</h3></center>
                    </div>
                {% endif %}
                <table class="table">
                    <tr>
                        <th>Principle</th>
                        <th>Automated Check</th>
                        <th>Status</th>
                        <th>Comment</th>
                        <th>Resources</th>
                    </tr>
                    {% set res = o.results %}
                    {% for c in checkorder %}
                        {% set r = res[c] %}
                        {% set checkid = c.strip().split(' ')[0] %}
                        {% set checkname = c.strip().split(' ', 1)[1] %}
                        <tr>
                            <td><a href="{{ checklinks[checkid] }}">{{ checkname }}</a></td>
                            <td><a href="{{ autochecklinks[checkid] }}">{{ checkname }} Automated Check</a></td>
                            {% if r.status == 'ERROR' %}
                                {% set tableclass = 'danger' %}
                                {% set icon = 'x' %}
                            {% elif r.status == 'WARN' %}
                                {% set tableclass = 'warning' %}
                                {% set icon = 'warning' %}
                            {% elif r.status == 'INFO' %}
                                {% set tableclass = 'info' %}
                                {% set icon = 'info' %}
                            {% else %}
                                {% set tableclass = 'success' %}
                                {% set icon = 'check' %}
                            {% endif %}
                            <td class="table-{{ tableclass }}" style="text-align:center;">
                                <img src="../assets/{{ icon }}.svg" height="15px">
                            </td>
                            {% if 'comment' in r %}
                                <td>{{ r.comment }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            {% if 'file' in r %}
                                <td><a href="{{ r.file }}.html">View {{ checkname }} Report</a></td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
                <h3>ROBOT Report Summary</h3>
                <table class="table">
                  <tr>
                      <th>Check</th>
                      <th>Status</th>
                      <th>Comment</th>
                      <th>Resources</th>
                  </tr>
                  {% set res = o.results %}
                  {% set r = res['ROBOT Report'] %}
                  <tr>
                      <td><a href="http://robot.obolibrary.org/report">ROBOT Report</td>
                      {% if r.status == 'ERROR' %}
                          {% set tableclass = 'danger' %}
                          {% set icon = 'x' %}
                      {% elif r.status == 'WARN' %}
                          {% set tableclass = 'warning' %}
                          {% set icon = 'warning' %}
                      {% elif r.status == 'INFO' %}
                          {% set tableclass = 'info' %}
                          {% set icon = 'info' %}
                      {% else %}
                          {% set tableclass = 'success' %}
                          {% set icon = 'check' %}
                      {% endif %}
                      <td class="table-{{ tableclass }}" style="text-align:center;">
                          <img src="../assets/{{ icon }}.svg" height="15px">
                      </td>
                      {% if 'comment' in r %}
                          <td>{{ r.comment }}</td>
                      {% else %}
                          <td></td>
                      {% endif %}
                      {% if 'file' in r %}
                          <td><a href="{{ r.file }}.html">View ROBOT Report</a></td>
                      {% else %}
                          <td></td>
                      {% endif %}
                  </tr>  
                </table>
                <h3>Ontology metrics</h3>
                {% set metrics = o.metrics %}
                <div class="info">
                    <table class="table">
                        <tr>
                            <th>Metric</th>
                            <th>Values</th>
                        </tr>
                        {% set res = o.results %}
                        {% for m in metrics %}
                            <tr>
                                <td>{{ m }}</td>
                                {% set value = metrics[m] %}
                                {% if value is mapping %}
                                    <td>
                                        <ul>
                                            {% for ns in value %}
                                                <li>{{ ns }}: {{ value[ns] }}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                {% elif value.__class__.__name__ == "list" %}
                                    <td><ul>
                                        {% for lvalue in value %}
                                            <li>{{ lvalue }}</li>
                                        {% endfor %}
                                    </ul></td>
                                {% else %}
                                    <td>{{ value }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        <tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
