<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <title>{{ title }}</title>
</head>
<body>
<div class="container">
  <div class="row" style="padding-top:30px;">
    <div class="col-md-12">
      <h1>{{ title }}</h1>
      <p class="lead"><a href="{{ file }}">Download TSV</a></p>
      {% if error_count_level.items() %}
      <h3>Types of errors</h3>
      <div class="report_summary"><table class="table">
      <tr><th><b>Level</b></th><th><b>Number of errors</b></th></tr>
      {% for key, value in error_count_level.items() %}
      <tr><td>{{key}}</td><td>{{value}}</td></tr>
      {% endfor %}
      </table></div>
      <h3>Error breakdown</h3>
      <div class="report_summary"><table class="table">
      <tr><th><b>Rule</b></th><th><b>Number of errors</b></th></tr>
      {% for key, value in error_count_rule.items() %}
      <tr><td>{{key}}</td><td>{{value}}</td></tr>
      {% endfor %}
      </table></div>
      <p style="text-align:center; margin-top:-15px;">
        <small>Click on any term to redirect to the term page.</small>
      </p>
      {% endif %}
      <table class="table">
        <tr>
          <th><b>Row</b></th>
          {% for h in contents.columns %}
            <th><b>{{ h }}</b></th>
          {% endfor %}
        </tr>
        {%- for row_index, row in contents.iterrows() -%}
          <tr{% if error_count_level.items() %} class={{ class_map[row['Level']]|default('table-active') }}{% endif %}>
            <td>{{ row_index }}</td>
            {%- for col in row %}
            <td>{{ maybe_get_link(col|replace("nan", ""), context) }}</td>
            {%- endfor %}
          </tr>
        {% endfor -%}
      </table>
    </div>
  </div>
</div>
</body>
