<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <title>{{ title }}</title>
</head>
<body>
<div class="container">
  <div class="row" style="padding-top:30px;">
    <div class="col-md-12">
      <h1>{{ title }}</h1>
      <p class="lead"><a href="{{ file }}">Download TSV</a></p>
      <h3>Types of errors</h3>
      <div class="report_summary"><table class="table">
      <tr><th><b>Level</b></th><th><b>Number of errors</b></th></tr>
      {% for key, value in error_count_level.items() %}
      <tr><td>{{key}}</td><td>{{value}}</td></tr>
      {% endfor %}
      </table></div>
      <h3>Error breakdown</h3>
      <div class="report_summary"><table class="table">
      <th><td><b>Rule</b></td><td><b>NUmber of errors</b></td></th>
      {% for key, value in error_count_rule.items() %}
      <tr><td>{{key}}</td><td>{{value}}</td></tr>
      {% endfor %}
      </table></div>
      <p style="text-align:center; margin-top:-15px;">
        <small>Click on any term to direct to the term page.</small>
      </p>
      <table class="table">
        <tr>
          <th><b>Row</b></th>
          {% for h in contents.headers %}
            <th><b>{{ h }}</b></th>
          {% endfor %}
        </tr>
        {% for row in contents.rows %}
          {% set status = row[0] %}
          {% if status == 'ERROR' %}
            {% set tableclass = 'danger' %}
          {% elif status == 'WARN' %}
            {% set tableclass = 'warning' %}
          {% elif status == 'INFO' %}
            {% set tableclass = 'info' %}
          {% else %}
            {% set tableclass = 'active' %}
          {% endif %}
          <tr class="table-{{ tableclass }}">
            <td>{{ loop.index }}</td>
            {% for cell in row %}
              <td>
              {% if cell in docmap %}
                <a href="{{ docmap[cell] }}">{{ cell }}</a>
              {% else %}
                {{ maybe_get_link(cell, context) }}
              {% endif %}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
</body>
